<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/create.css">
    <script src="/scripts/script_registro.js" defer></script>
</head>
</head>
<body>
    <div class="contenedor-general">
        <header>                
            <div class="nav-bar">            
            <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>
            </div>                                
        </header>

        <div class="contenedor margen-login-register">
            <% if(locals.errors && errors.first_name) {%>
                <div class="text-danger">
                    <%= errors.first_name.msg %>
                </div>
                <% } %>
            
            <div class="tab-items">
                <div class="marco">
                    <a href="/usuarios/login"><p>Iniciar Sesion</p></a>
                </div>
                <div class="marco">
                    <p>Crear Cuenta</p>
                </div>
            </div>

            <form onsubmit="return doActionRegistro();"  method="POST">
                <label for="first_name">Nombre</label>
			    <input  type="text" 
                        id="first_name" 
                        name="first_name" 
                        placeholder="Ejemplo: Evelyn" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.first_name : null %>">
                

                <label for="last_name">Apellido</label>
				<input  type="text" 
                        id="last_name" 
                        name="last_name" 
                        placeholder="Ejemplo: Valdez Castro" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.last_name : null %>">                

                <label for="email" class="form-label">Email</label>
				<input  type="text" 
                        id="email" 
                        name="email" 
                        placeholder="Ej: evely@mail.com" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.email : null %>">                

                <label>Contraseña</label>
                <div class="content-password">
                    <input  type="password" 
                            name="password" 
                            id="password" 
                            placeholder="Contraseña">
                    <input id="check" type="checkbox" onclick="mostrarContrasena()">
                    <span style="font-size: 10px; padding-left: 5px;">Mostrar</span>
                </div>                

                <label for="category" class="form-label">Categoría:</label>
				<select name="category" id="category" class="form-input">
					<option value="">Elegir opción</option>
                    <%  
                        let options = ['Usuario'];
		            %>
					<% for (const oneOptions of options) { %>
						<option value="<%= oneOptions %>" 
							<%= locals.oldData && (oneOptions === oldData.category) ? 'selected' : null %> 
						> <%= oneOptions %> </option>
					<% } %>
				</select>
                
                
                

                <label for="avatar">Foto de perfil</label>
                <input type="file" id="archivo" class="form-input">
                    <input  type="text" 
                            id="avatar" 
                            name="avatar" 
                            placeholder="Ejemplo: coloca una direccion URL" 
                            class="form-input"
                            value="https://aui.atlassian.com/aui/latest/docs/images/avatar-person.svg"> 
                <label for="" style="font-size: 10px; padding: 0; margin: 0;">*Coloca una URL de tu imagen sino deja la predeterminada</label>            
                
                

                <div class="btn-container">
                    <button class="btn-login" type="submit" >CREAR CUENTA</button>
                </div>
            </form>
    
        </div>

    </div>
    

    <footer >
       <%- include('../partials/footer') %>         
    </footer>
    <script>
        function mostrarContrasena(){
            var tipo = document.getElementById("password");
            if(tipo.type == "password"){
                tipo.type = "text";
            }else{
                tipo.type = "password";
            }
        }

        document.querySelector('#file').addEventListener('change', 
        function(e) {
            var boxFile = document.querySelector('.boxFile');
            boxFile.classList.remove('attached');
            boxFile.innerHTML = e.target.files[0].name;
            boxFile.classList.add('attached');
        });
      </script>
</body>
</html>