<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/create.css">
    <script src="/scripts/script_registro.js" defer></script>
</head>
</head>
<body>
    <div class="contenedor-general">
        <header>                
            <div class="nav-bar">            
            <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>
            </div>                                
        </header>

        <div class="contenedor margen-login-register">
            <% if(locals.errors && errors.first_name) {%>
                <div class="text-danger">
                    <%= errors.first_name.msg %>
                </div>
                <% } %>
            
            <div class="tab-items">
                <div class="marco">
                    <a href="/usuarios/login"><p>Iniciar Sesion</p></a>
                </div>
                <div class="marco">
                    <p>Crear Cuenta</p>
                </div>
            </div>

            <form onsubmit="return doActionRegistro();"  method="POST" enctype="multipart/form-data">
                <div id="errores">

                </div>
                <label for="nombre">Nombre</label>
			    <input  type="text" 
                        id="nombre" 
                        name="nombre" 
                        placeholder="Ejemplo: Evelyn" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.nombre : null %>">
                

                <label for="aPaterno">Apellido Paterno</label>
				<input  type="text" 
                        id="aPaterno" 
                        name="aPaterno" 
                        placeholder="Ejemplo: Valdez" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.last_name : null %>">
                <label for="aMaterno">Apellido Materno</label>
                <input  type="text" 
                        id="aMaterno" 
                        name="aMaterno" 
                        placeholder="Ejemplo: Castro" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.last_name : null %>">

                <label for="email" class="form-label">Email</label>
				<input  type="text" 
                        id="email" 
                        name="email" 
                        placeholder="Ej: evely@mail.com" 
                        class="form-input"
                        value="<%= locals.oldData ? oldData.email : null %>">                

                <label>Contraseña</label>
                <div class="content-password">
                    <input  type="password" 
                            name="password" 
                            id="password" 
                            placeholder="Contraseña">
                    <input id="check" type="checkbox" onclick="mostrarContrasena()">
                    <span style="font-size: 10px; padding-left: 5px;">Mostrar</span>
                </div>                

                <label for="rol_id" class="form-label">Categoría:</label>
				<select name="rol_id" id="rol_id" class="form-input">					
                    <%  
                        let options = ['Usuario'];
		            %>
					<% for (const oneOptions of options) { %>
						<option value="<%= oneOptions %>" 
							<%= locals.oldData && (oneOptions === oldData.category) ? 'selected' : null %> 
						> <%= oneOptions %> </option>
					<% } %>
				</select>
                
                
                

                <label for="avatar">Foto de perfil</label>
                <input type="file" 
                       id="avatar" 
                       class="form-input"
                       name="avatar">
                   <button type="button" onclick="cargarImagen();">Mostrar</button>
                   <div class="img-avatar"></div>
                        
                
                

                <div class="btn-container">
                    <button class="btn-login" type="submit" >Crear Cuenta</button>
                </div>
            </form>
    
        </div>

    </div>
    

    <footer >
       <%- include('../partials/footer') %>         
    </footer>
    <script>
        function mostrarContrasena(){
            var tipo = document.getElementById("password");
            if(tipo.type == "password"){
                tipo.type = "text";
            }else{
                tipo.type = "password";
            }
        }

        // document.querySelector('#file').addEventListener('change', 
        // function(e) {
        //     var boxFile = document.querySelector('.boxFile');
        //     boxFile.classList.remove('attached');
        //     boxFile.innerHTML = e.target.files[0].name;
        //     boxFile.classList.add('attached');
        // });
      </script>
</body>
</html>